
<footer class="mt-auto py-2 text-light" style="background-color: beige;">
    <div class="p-2 m-auto">
      <div class="row">
        <!-- About Section -->
        <div class="col-md-3 ">
            <h5 class="text-primary">About Us</h5>
            <p class="text-muted ">We connect donors with people in need to create a better world. Our platform ensures that your donations reach those who need them the most.</p>
        </div>
        
        <!-- Quick Links -->
        <div class="col-md-3">
            <h5 class="text-primary">Quick Links</h5>
            <ul class="list-unstyled">
                <li><a href="{% url 'Website:index' %}" class="text-muted fw-bold text-decoration-none">Home</a></li>
                <li><a href="{% url 'Website:about' %}" class="text-muted fw-bold text-decoration-none">About</a></li>
                <li><a href="" class="text-muted text-decoration-none">Contact</a></li>
                <li><a href="" class="text-muted text-decoration-none">FAQ</a></li>
                <li><a href="" class="text-muted text-decoration-none">Terms of Service</a></li>
                <li><a href="" class="text-muted text-decoration-none">Privacy Policy</a></li>
            </ul>
        </div>
        
        <!-- Services -->
        <div class="col-md-3 ">
            <h5 class="text-primary">Services</h5>
            <ul class="list-unstyled">
                <li><a href="" class="text-muted  text-decoration-none">Donate</a></li>
                <li><a href="" class="text-muted text-decoration-none">Volunteer</a></li>
                <li><a href="" class="text-muted  text-decoration-none">Events</a></li>
                <li><a href="" class="text-muted text-decoration-none">Blog</a></li>
            </ul>
        </div>
        
        <!-- Contact Information -->
        <div class="col-md-3 ">
            <h5 class="text-primary">Contact Us</h5>
            <p class="text-muted"><i class="bi bi-envelope-fill"></i> <a href="mailto:support@peopleinneed.com" class="text-muted text-decoration-none">support@peopleinneed.com</a></p>
            <p class="text-muted"><i class="bi bi-telephone-fill"></i> +1 (234) 567-890</p>
            <p class="text-muted"><i class="bi bi-geo-alt-fill"></i> 123 PTA Street, Dar-es-salaam, TANZANIA</p>
            
            <!-- Social Media Icons -->
            <div class="mt-2">
                <a href="#" class="text-primary me-2"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-primary me-2"><i class="bi bi-twitter"></i></a>
                <a href="#" class="text-warning me-2"><i class="bi bi-instagram"></i></a>
                <a href="#" class="text-muted"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col text-center">
            <p class="text-success">&copy; 2024 Ministry Of Social Welfare. <span class="text-muted">All rights reserved.</span></p>
        </div>
    </div>
  </div>
  </footer>