
<!-- offcanvas --> 
         

 <div class="offcanvas offcanvas-start shadow text-white" style="width: 250px; background-color: rgb(196, 186, 162);" id="demo">
     <div class="offcanvas-header">
         <button class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" type="button" aria-label="Close" id="close"></button>
     </div>
     <div class="offcanvas-body p-0">
         <nav class="navbar-dark">
             <ul class="navbar-nav text-success">
                 <li>
                     <div class="text-muted fw-bold text-uppercase px-3 small">core</div>
                 </li>
                 <li>
                     <a href="{% url 'Website:user-page' %}" class="nav-link px-3 active">
                         <span class="me-2">
                             <i class="bi bi-speedometer2 text-dark"></i>
                         </span>
                         <span class="small text-dark">Dashboard</span>
                     </a>
                 </li>
                 <li>
                     <hr class="nav-divider text-success">
                 </li>
                 <li>
                     <div class=" text-muted fw-bold text-uppercase px-3 small">History</div>
                 </li>
                 <li>
                     <a href="#dem" class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="dem">
                         <span class="me-2">
                            <i class="bi bi-list-check text-dark"></i>
                         </span>
                         <span class="small text-dark">My Activities</span>
                         <span class="ms-auto right-icon">
                             <i class="bi bi-chevron-down text-muted"></i>
                         </span>
                     </a>

                         <div id="dem" class="collapse">
                             <div>
                                 <ul class="navbar-nav ps-3">
                                     <a href="{% url 'Website:donor-events' %}" class="nav-link px-3 active">
                                         <span class="me-2">
                                            <i class="bi bi-calendar-event text-dark"></i>
                                         </span>
                                         <span class="small text-dark">Events</span>
                                     </a>
                                     <a href="{% url 'Website:donor-contribution' %}" class="nav-link px-3 active">
                                         <span class="me-2">
                                            <i class="bi bi-currency-dollar text-muted"></i>
                                         </span>
                                         <span class="small text-dark">Donations</span>
                                     </a>
               
                                 </ul>
                             </div>
                         </div>
                 </li>
                 <li>
                    <a href="" class="nav-link px-3 active">
                        <span class="me-2">
                            <i class="bi bi-inbox text-dark"></i>
                        </span>
                        <span class="small text-dark">Inbox</span>
                    </a>
                     
                 </li>
             
                 <li>
                     <hr class="nav-divider text-white">
                 </li>
                 



             </ul>
         </nav>
     
     </div>
 </div>
 
 <!-- Offcanvas Sidebar -->