{% load static %}
<ul class="navbar-nav bg-white sidebar sidebar-dark accordion h-100 shadow" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="../dashboard/">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-graduation-cap"></i>
				</div>
				<div class="sidebar-brand-text text-success mx-3">Farmer's Registry System</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item ">
				<a class="nav-link" href="../dashboard/">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>Dashboard</span></a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			<div class="sidebar-heading">
				USERS
			</div>

			<!-- Nav Item - Students -->
			<li class="nav-item <?php if ($page == 'Students') {echo 'active';} ?>">
				<a class="nav-link" href="../students/">
					<i class="fas fa-fw fa-user"></i>
					<span>Farmers</span></a>
			</li>

			<!-- Nav Item - Teachers -->
			<li class="nav-item <?php if ($page == 'Teachers') {echo 'active';} ?>">
				<a class="nav-link <?php if ($page != 'Teachers') {echo 'collapsed';} ?>" href="javascript:void(0)" data-toggle="collapse" data-target="#collapseTeachers" aria-expanded="true"
					aria-controls="collapseTeachers">
					<i class="fas fa-fw fa-id-card"></i>
					<span>Teachers</span>
				</a>
				<div id="collapseTeachers" class="collapse <?php if ($page == 'Teachers') {echo 'show';} ?>" aria-labelledby="headingTeachers" data-parent="#accordionSidebar">
					<div class="bg-light py-2 collapse-inner rounded">
						<h6 class="collapse-header">Teachers:</h6>
						<a class="collapse-item <?php if ($page == 'Teachers' && $subpage == '') {echo 'active';} ?>" href="../teachers/">Teachers</a>
						<h6 class="collapse-header">Positions:</h6>
						<a class="collapse-item" href="../teachers/?p=positions">Positions</a>
					</div>
				</div>
			</li>

			<!-- Nav Item - Classes & Streams -->
		

			<!-- Nav Item - Subjects -->
			

			<!-- Divider -->
			<hr class="sidebar-divider bg-success">

			<!-- Heading -->
			<div class="sidebar-heading">
		Production
			</div>

			<!-- Nav Item - Staff Collapse Menu -->
			<li class="nav-item ">
				<a class="nav-link " href="javascript:void(0)" data-toggle="collapse" data-target="#collapseStaff" aria-expanded="true"
					aria-controls="collapseStaff">
					<i class="fas fa-fw fa-id-card"></i>
					<span>Staff</span>
				</a>
				<div id="collapseStaff" class="collapse " aria-labelledby="headingStaff" data-parent="#accordionSidebar">
					<div class="bg-light py-2 collapse-inner rounded">
						<h6 class="collapse-header">Staff:</h6>
						<a class="collapse-item " href="../staff">Staff</a>
						<h6 class="collapse-header">Roles:</h6>
						<a class="collapse-item <?php if ($subpage == 'Roles') {echo 'active';} ?>" href="../staff?p=roles">Roles</a>
					</div>
				</div>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>

		</ul>