{% extends 'website/base.html' %}

{% block title %}About Us{% endblock %}



{% block content %}
<div class="row">
    <div class="col-6 bg-danger">
        <p class="text-light">
            About US Lorem ipsum dolor sit amet consectetur, adipisicing elit.
             Eaque itaque cum cumque dicta aut quas consequuntur, fugiat eum voluptatibus dolore exercitationem
             odit possimus natus facere quam, recusandae minima excepturi dolores?
        </p>
    </div>
</div>
{% endblock %}