{% extends 'website/user_profile.html' %}

{% load static %}

{% block title %}My Events{% endblock %}
{% block header %}My Events{% endblock %}
{% block desc%}events{% endblock %}
{% block btn%}{% endblock %}

{% block content %}
<div class="row mb-2 mt-2">



<div class="col-8">
    <div class="container-fluid">
       
       
       
                    {% if Events %}
                    <table class="table table-striped table-bordered table-hover" id="example">
                        <thead class="bg-dark text-light">
                    
                                <tr>
                                        <th>Event</th>
                                        <th>photo</th>
                                        <th>Event_date</th>
                                        <th>Description</th>
                                        <th>Venue</th>
                                        <th>Manager</th>
                                       
                                      
                                        
                                    </tr>
                        </thead>
                
                                <tbody>
                           
                            {% for event in Events%}
                            <tr>
                                <td>{{ event.name }}</td>
                                <td>                      {% if event.photo %}
                                    <img src="{{ event.photo.url }}" alt="">
                                {% else %}
                                    <img src="{% static 'path/to/default_image.jpg' %}" alt="">
                                {% endif %}</td>
          
                                <td>{{ event.event_date }}</td>
                                <td>{{ event.description }}</td>
                                <td>{{ event.venue }}</td>
                                <td>{{ event.manager }}</td>
                            
                            </tr>
                        </tbody>
                        
        
                        
                        <tfoot>
                            <tr>
                                <th>Event</th>
                                <th>photo</th>
                                <th>Event_date</th>
                                <th>Description</th>
                                <th>Venue</th>
                                <th>Manager</th>
                            </tr>
                        </tfoot>
                </table>
        
                  </div>
            </div>
                                
                            {% endfor %}
                            {% else %}    

                            <div class="row">
                                <div class="col-3"></div>
                                
                                
                                <div class="col-9 mt-3 ms-auto">
                                    <div class="alert alert-warning shadow">
                                        <center>
                                            <p class="text-muted  mt-2">There is no event you have currently yet joined.. </p>
                                        </center>
                                        
                                      </div>
                                    
                                </div>
                                
                            </div>
                            {% endif %}
            
</div>

</div>


{% endblock %}