{% extends 'tests/base1.html'%}

{% block title%}{{title}}{% endblock%}

{%block desc%}{{title}}{%endblock desc%}
{% block content%}

<div class="row mb-3">
    <div class="col-3">
        <h3></h3>
    </div>
    <div class="col-3">
  
    </div>
    
    <div class="col-2">
        
    </div>
    <div class="col-2">
        
    </div>
    
    <div class="col-2">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"></h1>
            <a href="{% url 'Activity:all-charity' %}" class="d-none d-sm-inline-block btn btn-sm btn-outline-secondary shadow pe-4">
                <i class="fas fa-arrow-left fa-sm text-white-50. px-1"></i> Back</a>
        </div>
    </div>
    
   
</div>

            
<div class="card p-3 me-3" id="back">

    <div class="card-body shadow">

        <h1 class="text-muted card-text text-center">{{title}}</h1>
        <form action="{% url 'User:add-charity' %}" method="POST" enctype="multipart/form-data">
            
            {% csrf_token %}

            <div class="row mb-2">
                <div class="col-6 mb-2"> 
                    <label>First name:</label>
                    <input type="text" name="first_name" id="" class="form-control">
                </div>
                <div class="col-6 mb-2"> 
                    <label>Middle name:</label>
                    <input type="text" name="middle_name" id="" class="form-control">
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-6 mb-2"> 
                    <label>Last name:</label>
                    <input type="text" name="last_name" id="" class="form-control">
                </div>
                <div class="col-6 mb-2"> 
                    <label>Sex:</label>
                    <select name="sex" id="" class="form-control">
                        <option value="MALE">MALE</option>
                        <option value="FEMALE">FEMALE</option>
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-6 mb-2"> 
                    <label>Age:</label>
                    <input type="text" name="age" id="" class="form-control">
                </div>
                <div class="col-6 mb-2"> 
                    <label>Image:</label>
                    <input type="file" name="image" id="" class="form-control" accept="">
                </div>
            </div>

                <div class="row">
                    <div class="col-6 mb-2"> 
                        <label>Needs:</label>
                        <select  name="needs" id="" class="form-control" multiple>
                            {% for need in needs %}
                            <option value="{{need.id}}">{{ need.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
               
                <button type="submit" class="btn btn-secondary mt-3">Submit</button>
    
    
        </form>
    
    

    </div>
    
   



</div>




{% endblock%}