{% extends 'tests/base1.html'%}
{% load static %}

{% block title%} {{title}} {% endblock%}


{% block content%}

    <div class="row">
        <div class="col-3">
            <h3>List of Events</h3>
        </div>
        <div class="col-7">
      
        </div>
        <div class="col-2">
            <a href="{% url 'Activity:add-event' %}" class="btn btn-primary rounded-pill">+ Add Event</a>
        </div>
    </div>
   
    <div class="row bg-light mt-4">
        
        <div class="col-8 ms-1">

            <table class="table table-striped table-bordered table-hover" id="example">
                <thead class="bg-dark text-light">
            
                        <tr>
                                <th>Event</th>
                                <th>photo</th>
                                <th>Event_date</th>
                                <th>Description</th>
                                <th>Venue</th>
                                <th>Manager</th>
                                <th>Members</th>
                                <th>Action</th>
                                
                            </tr>
                </thead>
        
                        <tbody>
                        {% if Events %}
                           
                               
                                {% for event in Events%}
                                <tr>
                                    <td>{{ event.name }}</td>
                                    <td>                      {% if event.photo %}
                                        <img src="{{ event.photo.url }}" alt="">
                                    {% else %}
                                        <img src="{% static 'path/to/default_image.jpg' %}" alt="">
                                    {% endif %}</td>
              
                                    <td>{{ event.event_date }}</td>
                                    <td>{{ event.description }}</td>
                                    <td>{{ event.venue }}</td>
                                    <td>{{ event.manager }}</td>
                                    
                                    <td>{% for member in event.members.all %}{{ member.username }}<br>{% endfor %}</td>
                                    
                                    <td><a href="{% url 'Activity:event' event.id %}" class="text-decoration-none text-success">Show</a></td>
                                    
        
                                </tr>
                                    
                                    
                                {% endfor %}
                                    
                               
                              
                        </tbody>
                            
            
                    {% endif %}
        
                    <tfoot>
                        <tr>
                            <th>Event</th>
                            <th>photo</th>
                            <th>Event_date</th>
                            <th>Description</th>
                            <th>Venue</th>
                            <th>Manager</th>
                            <th>Members</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
            </table>
            <div class="col-2"></div>
        </div>
       

    </div>

    





{% endblock %}

