{% extends 'tests/base1.html'%}
{% load static %}

{% block title%} {{title}} {% endblock%}
{% block desc %}Events{% endblock %}

{% block content%}

    <div class="row">
        <div class="col-3">
            <h3>List of Events</h3>
        </div>
        <div class="col-7">
      
        </div>
        <div class="col-2">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800"></h1>
                <a href="{% url 'Activity:add-event' %}" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow pe-4">
                    <i class="fas fa-plus fa-sm text-white-50. px-1"></i> Add Event</a>
            </div>
           
        </div>
    </div>
   
    <div class="row bg-light mt-4">
        
        <div class="container">

            <table class="table table-striped table-bordered table-hover" id="example">
                <thead class="bg-dark text-light">
            
                        <tr>
                                <th>Event</th>
                               
                                <th>Event_date</th>
                                <th>Description</th>
                                <th>Venue</th>
                                <th>Manager</th>
                                <th>Members</th>
                                <th>Action</th>
                                
                            </tr>
                </thead>
        
                        <tbody>
                        {% if Events %}
                           
                               
                                {% for event in Events%}
                                <tr>
                                    <td>{{ event.name }}</td>
                                    
              
                                    <td>{{ event.event_date }}</td>
                                    <td>{{ event.description }}</td>
                                    <td>{{ event.venue }}</td>
                                    <td>{{ event.manager }}</td>
                                    
                                    <td>{% for member in event.members.all %}{{ member.username }}<br>{% endfor %}</td>
                                    
                                    <td><a href="{% url 'Activity:event' event.id %}" class="text-decoration-none text-success">Show</a></td>
                                    
        
                                </tr>
                                    
                                    
                                {% endfor %}
                                    
                               
                              
                        </tbody>
                            
            
                    {% endif %}
        
                    <tfoot>
                        <tr>
                            <th>Event</th>
                          
                            <th>Event_date</th>
                            <th>Description</th>
                            <th>Venue</th>
                            <th>Manager</th>
                            <th>Members</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
            </table>
          
        </div>
       

    </div>

    





{% endblock %}

