{% extends 'tests/base1.html'%}

{% block title%} {{title}} {% endblock%}


{% block content%}

        <div class="container mb-5 mt-1 px-4 py-3 ms-auto">
            
<div class="card card-border p-5 me-3" id="back">
    <div class="card-header"><strong>Title:</strong><br>{{u_post.title}}</div>
<div class="card-body bg-light shadow">

    <p class="card-text mb-2"><strong>Body:</strong><br>{{u_post.body}}</p>
    
    <p class="card-text mb-2"><strong>Author:</strong><br> u_post.author</p>

</div>

<div class="row mt-3">
<div class="col-8">
    <a href="{% url 'Activity:postss' %}" class="btn btn-pass rounded-pill">Back</a>
<a href="{% url 'Activity:update-post' u_post.id %}" class="btn btn-success rounded-pill">Update</a>
<a href="{% url 'Activity:update-post' u_post.id %}" class="btn btn-danger rounded-pill">Delete</a>


</div>




    
</div>
</div>





{% endblock%}