{% extends 'tests/base1.html'%}

{% block title%} {{title}} {% endblock%}

{% block desc %}Update-Event{% endblock %}
{% block content%}

<div class="row">


<div class="container col-9">
    <div class="card p-2 me-3 mb-3" id="back">
<div class="card-body mb-4">
    <h1 class="text-muted card-text text-center">{{title}}</h1>
    <form action="" method="POST" enctype="multipart/form-data" ><br><br>
        {% csrf_token %}
        <div class="row mb-1">
            <div class="col-6"><label for="name">Name:</label> {{ form.name }}</div>
            <div class="col-6"><label for="name">Date:</label> {{ form.event_date }}</div>
        </div>
        <div class="row mb-1">
            <div class="col-6"><label for="name">Venue:</label> {{ form.venue }}</div>
            <div class="col-6"><label for="name">Manager:</label> {{ form.manager }}</div>
        </div>
        <div class="row mb-1">
            <div class=""><label for="name">Image:</label> {{ form.photo }}</div>
           
        </div>
        <div class="row mb-1">
         
            
                <div class=""><label for="name">Image:</label>
              
           {{ form.description }}</div>
        </div>
       
    
            <button type="submit" class="btn btn-secondary">Submit</button>
    </form>

</div>
    
        
      
    </div>

</div>

</div>
            






{% endblock%}