{% extends 'tests/base1.html'%}
{% load static %}

{% block title%} {{title}} {% endblock%}

{% block desc %}User-Profile{% endblock %}
{% block content%}



      <center>  <h1>User Profile<span></span></h1> </center>


<div class="container-fluid px-4">
						
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h1 class="h3 mb-0 text-gray-800"></h1>
        <a href="{% url 'Activity:all-users' %}" class="d-none d-sm-inline-block btn btn-sm btn-outline-success shadow pe-4">
            <i class="fas fa-arrow-left fa-sm text-white-50. px-1"></i> Back</a>
    </div>
    <form action="{% url 'User:user-profile' user.username %}" method="post" class="row" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">

                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    {% if user.image %}
                        <img id="profile-image" class="rounded-pill mb-2" src="{{ user.image.url }}" alt="Profile Image" height="100%" width="100%" />
                    {% else %}
                        <img id="profile-image" class="rounded-pill mb-2" src="{% static 'profiles/avatar.svg' %}" alt="Default Profile Image" height="100%" width="100%" />
                    {% endif %}
                    <!-- Profile picture help block -->
                    {% if user.pk != request.user.id %}
                    {% else %}
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    
                    
                        <input class="form-control" type="file" name="image" accept="image/*"   />
                        <!-- Profile picture upload button -->									
                        
                        <label class="btn btn-primary btn-sm mb-0" type="button" for="profilePicture" class="m-0">
                            <i class="fas fa-upload fa-sm text-white-50 pe-2"></i> Change Image</label>
                    {% endif %}
                
                
                <!-- </form> -->
                </div>
                
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputUserName">Username:</label>
                            {{form.username}}
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputFirstName">First name:</label>
                         {{form.first_name}}
                        </div>
                    </div>

                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLasttName" >Last name:</label>
                           {{form.last_name}}
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputEmail">Email:</label>
                           {{form.email}}
                        </div>
                    </div>
                    <!-- Form Group (email address)-->
            
                    <!-- Form Group (Positions)-->
                    <div class="mb-4">
                        <label class="small mb-1">Status:</label><br>
                               <p class="text-success fw-bold">{{user.status}}</p>
                            
                    </div>
                    <div class="mb-4">
                        <label class="small mb-1">Phone:</label>
                        {{form.phone}}
                            
                    </div>
                    <!-- Form Group (Subjects)-->
                     {% if user.pk != request.user.id %}
                     {% else %}
                        <input type="submit" value="Submit">
                     {% endif %}
                    <!-- Submit button-->
                  
                </div>
            </div>
        </div>
    </form>

   
</div>




{% endblock%}