{% extends 'tests/base1.html'%}
{% load static %}

{% block title%} {{title}} {% endblock%}


{% block content%}

{% include 'partials/messages.html' %}

      <center>  <h1>User Profile<span></span></h1> </center>


<div class="container-fluid px-4. mt-4.">
						
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"></h1>
        <a href="{% url 'Activity:all-users' %}" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow pe-4">
            <i class="fas fa-arrow-left fa-sm text-white-50. px-1"></i> Back</a>
    </div>
    <form action="{% url 'User:user-profile' user.username %}" method="post" class="row">
        {% csrf_token %}
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">

                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                {% if form.image %}
                
                {% else %}
                <!-- Profile picture image -->
                <img id="previewImage" class="img-account-profile. rounded-circle mb-2" src="{% static 'profiles/avatar.svg' %}" alt="" height="200px" width="200px" />
                {% endif %}	
                <!-- Profile picture help block -->
                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                
                
                <input class="form-control" type="file" name="profilePicture" accept="image/*"  style="" />
                <!-- Profile picture upload button -->									
                
                <label class="btn btn-primary btn-sm mb-0" type="button" for="profilePicture" class="m-0">
                    <i class="fas fa-upload fa-sm text-white-50 pe-2"></i> Change Image</label>
                
                <!-- </form> -->
                </div>
                
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputUserName">Username</label>
                            {{form.username}}
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputFirstName">First name</label>
                         {{form.first_name}}
                        </div>
                    </div>

                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLasttName" >Last name</label>
                           {{form.last_name}}
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputEmail">Email</label>
                           {{form.email}}
                        </div>
                    </div>
                    <!-- Form Group (email address)-->
            
                    <!-- Form Group (Positions)-->
                    <div class="mb-4">
                        <label class="small mb-1">Status</label>
                               {{form.status}}
                            
                    </div>
                    <div class="mb-4">
                        <label class="small mb-1">Phone</label>
                        {{form.phone}}
                            
                    </div>
                    <!-- Form Group (Subjects)-->
                 <input type="submit" value="Submit">
                    <!-- Submit button-->
                  
                </div>
            </div>
        </div>
    </form>

   
</div>




{% endblock%}