{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/temp.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    
    </head>
    <body>
     <!-- navs --> 

   {% include 'partials/Top-bar.html' %}
<!-- offcanvas --> 

{% include 'partials/OffCanvasSidebar.html' %}

<!-- Offcanvas Sidebar -->
    <!--main-section-->
    <main class="mt-5 pt-3 ">
        <div class="container" style="display: '{% if messages %} none {% else %} block {% endif %};'">
            {% include 'partials/messages.html' %}
        </div>
       

        <div class="row mb-1 ms-2 mt-3">
            <div class="col-xl-4 col-md-3 bg-light">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb py-1">
                        <li class="breadcrumb-item active text-decoration-none pt-1"><a href="" class="text-decoration-none pt-2">Dashboard</a></li>
                        <li class="breadcrumb-item list-unstyled pt-1"><a href="" class="text-decoration-none">{%block desc%}index{%endblock desc%}</a></li>
                    </ol>
                </nav>
            </div>
        </div>

         <div class="row mt-3">
            <div class="container-fluid px-lg-5">
                {% block content %}

                {% endblock content %}
            </div>
           
        </div>

        {% include 'partials/footer.html' %}
    

    </main>
    <!--main-section-->
    <script src="{% static 'js/bootstrap.bundles.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/datatablee.js' %}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    </body>
</html>
