  
        <div class="row mt-2 mb-4 ">
                
            <div class="col-3">
                <div class="card px-3 bg-light shadow">
                    
                        <div class="row">
                            <div class="card-body col-4 ">
                                <div class="container">
                                    <a href="" class="nav-link px-3 active">
                                        <div class="row">
                                            <span class="me-2">
                                                <i class="bi bi-people icon bi-3x"></i>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <p><span class="small">Users</span></p>
                                        </div>
                                        <p class="card-text">{{users.count}}</p>
                                    </a> 
                                </div>
                                
                            </div>
                        </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card px-3 bg-light shadow">
                    
                        <div class="row">
                            <div class="card-body col-4 ">
                                <div class="container">
                                    <a href="" class="nav-link px-3 active">
                                        <div class="row">
                                            <span class="me-2">
                                                <i class="bi bi-calendar-event"></i>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <p><span class="small">Events</span></p>
                                        </div>
                                        <p class="card-text">{{events.count}}</p>
                                    </a> 
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card px-3 bg-light shadow">
                    
                        <div class="row">
                            <div class="card-body col-4 ">
                                <div class="container">
                                    <a href="" class="nav-link px-3 active">
                                        <div class="row">
                                            <span class="me-2">
                                                <i class="bi bi-journal-text"></i>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <p><span class="small">Posts</span></p>
                                        </div>
                                        <p class="card-text">{{posts.count}}</p>
                                    </a> 
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card px-3 bg-light shadow">
                    
                        <div class="row">
                            <div class="card-body col-4 ">
                                <div class="container">
                                    <a href="" class="nav-link px-3 active">
                                        <div class="row">
                                            <span class="me-2">
                                                <i class="bi bi-cash"></i>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <p><span class="small">Donations</span></p>
                                            <p class="card-text">{{donations.count}}</p>
                                        </div>
                                        
                                    </a> 
                                </div>
                                
                            </div>
                        </div>
                </div>
            </div>
        </div>