  
        <div class="row mt-2 mb-4 ">
                
            <div class="col-3">
                <div class="card px-3 bg-light shadow">
                    
                        <div class="row">
                            <div class="card-body col-4 ">
                                <div class="container">
                                    <a href="" class="nav-link px-3 active">
                                        <div class="row">
                                            <span class="me-2">
                                                <i class="bi bi-people icon bi-3x text-success"></i>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <p><span class="small text-success fw-bold">Users</span></p>
                                        </div>
                                        <p class="card-text text-success">{{users.count}}</p>
                                    </a> 
                                </div>
                                
                            </div>
                        </div>
                </div>
            </div>
{% if user.status == 'government' %}


<div class="col-3">
    <div class="card px-3 bg-light shadow">
        
            <div class="row">
                <div class="card-body col-4 ">
                    <div class="container">
                        <a href="" class="nav-link px-3 active">
                            <div class="row">
                                <span class="me-2">
                                    <i class="bi bi-journal-text text-success"></i>
                                </span>
                            </div>
                            <div class="row">
                                <p><span class="small text-success fw-bold">Events</span></p>
                            </div>
                            <p class="card-text text-success">{{events.count}}</p>
                        </a> 
                    </div>
                </div>
            </div>
    </div>
</div>



{% else %}
<div class="col-3">
    <div class="card px-3 bg-light shadow">
        
            <div class="row">
                <div class="card-body col-4 ">
                    <div class="container">
                        <a href="" class="nav-link px-3 active">
                            <div class="row">
                                <span class="me-2">
                                    <i class="bi bi-journal-text text-success"></i>
                                </span>
                            </div>
                            <div class="row">
                                <p><span class="small text-success fw-bold">Posts</span></p>
                            </div>
                            <p class="card-text text-success">{{posts.count}}</p>
                        </a> 
                    </div>
                </div>
            </div>
    </div>
</div>



<div class="col-3">
    <div class="card px-3 bg-light shadow">
        
            <div class="row">
                <div class="card-body col-4 ">
                    <div class="container">
                        <a href="" class="nav-link px-3 active">
                            <div class="row">
                                <span class="me-2">
                                    <i class="bi bi-inbox text-success" ></i>
                                </span>
                            </div>
                            <div class="row">
                                <p><span class="small text-success fw-bold">Messages</span></p>
                            </div>
                            
                            <p class="card-text text-success">{{conversation.count}}</p>
                           
                        </a> 
                    </div>
                </div>
            </div>
    </div>
</div>
    {% endif %}

           

            <div class="col-3">
                <div class="card px-3 bg-light shadow">
                    
                        <div class="row">
                            <div class="card-body col-4 ">
                                <div class="container">
                                    <a href="" class="nav-link px-3 active">
                                        <div class="row">
                                            <span class="me-2">
                                                <i class="bi bi-cash text-success"></i>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <p><span class="small text-success fw-bold">Donations</span></p>
                                            <p class="card-text text-success">{{donations.count}}</p>
                                        </div>
                                        
                                    </a> 
                                </div>
                                
                            </div>
                        </div>
                </div>
            </div>
        </div>