
{% extends 'tests/base1.html'%}
{% load static %}
{% block title%} {{title}} {% endblock%}
{% block desc %}People In Need{% endblock %}

{% block content%}
<div class="row mb-3">
    <div class="col-4">
        <h3>List of People In Need</h3>
    </div>
    <div class="col-1">
  
    </div>
    
    <div class="col-1">
        
    </div>
    <div class="col-2">
        
            <h1 class="h3 mb-0 text-gray-800"></h1>
            <a href="{% url 'Activity:pdf' %}" class="d-none d-sm-inline-block btn btn-sm btn-outline-secondary shadow pe-4">
                <i class="fas fa-upload fa-sm text-white-50. px-1"></i> Export PDF</a>
       
    </div>
    <div class="col-3">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"></h1>
            <a href="{% url 'User:add-charity' %}" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow pe-4">
                <i class="fas fa-plus fa-sm text-white-50. px-1"></i> Add member</a>
        </div>
    </div>
    
   
</div>
    <div class="row bg-light mt-4">

      

            <div class="container px-2">

                <table id="example" class="table table-striped table-bordered table-hover" style="width: 100%;">
                    <thead class="bg-dark text-light">
                
                            <tr>
                                    <th>Photo</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Sex</th>
                                    <th>Age</th>
                                    <th>Needs</th>
                                    <td>Action</td>
                                    
                                </tr>
                    </thead>
            
                            <tbody>
                            {% if charity %}
                               
                                   
                                    {% for child in charity%}
                                    <tr>
                                        {% if child.image %}
                                            <td><img src="{{ child.image.url }}" alt="" style="width:60px"></td>
                                        {% else %}
                                              <td><img src="{% static 'profiles/avatar.svg' %}" alt="" style="width:80px"></td>
                                        {% endif %}
                                        <td>{{ child.first_name }}</td>
                                        <td>{{ child.last_name }}</td>
                                        <td>{{ child.sex }}</td>
                                        <td>{{ child.age }}</td>
                                        <td style="width:300px">{% for need in child.needs.all %}{{need.name}}<br>{%endfor%}</td>
                                        
                                        
                                        
                                        <td><a href="" class="text-decoration-none text-success">Show</a></td>
                                        
            
                                    </tr>
                                        
                                        
                                    {% endfor %}
                                        
                                   
                                  
                            </tbody>
                                
                {% endif %}
            
                        <tfoot>
                            <tr>
                                <th>Photo</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Sex</th>
                                <th>Age</th>
                                <th>Needs</th>
                                <td>Action</td>
                             
                            </tr>
                        </tfoot>
                </table>
    
            </div>

    </div>
    
</div>




{% endblock %}